{% load static %}
<html>
	<head>
		{% include 'base/head.html' %}
	</head>
	<body>
		{% include 'base/headder_navbar.html' %}
		<div class="between-headder-footer">
			<form method="post" action="">
				{% csrf_token %}
				<!-- LINEトークン -->
				<div class="form-group">
					{% include "base/popover_v1.html" with title="LINEトークン" description="LINEへの通知に使用するLINEトークンを登録して下さい。<br>登録が正常に行われると入力欄に表示されます。<br>" only %}
					<input type="text" class="form-control" name="line_token" value="{{ db_line_token }}">
				</div>
				<!-- メールアドレス -->
				<div class="form-group">
					{% include "base/popover_v1.html" with title="メールアドレス" description="送信先のメールアドレスを登録して下さい。<br>登録が正常に行われると入力欄に表示されます。<br>" only %}
					<input type="text" class="form-control" name="to_email" value="{{ db_to_email }}">
				</div>
				<!-- さざんかねっとID -->
				<div class="form-group">
					{% include "base/popover_v1.html" with title="さざんかねっとID" description="さざんかねっとのIDを登録して下さい。<br>登録が正常に行われると入力欄に表示されます。<br>" only %}
					<input type="text" class="form-control" name="ac_id" value="{{ db_ac_id }}">
				</div>
				<!-- さざんかねっとPASS -->
				<div class="form-group">
					{% include "base/popover_v1.html" with title="さざんかねっとパスワード" description="さざんかねっとのパスワードを登録して下さい。<br>登録が正常に行われると入力欄に表示されます。<br>" only %}
					<input type="text" class="form-control" name="ac_pass" value="{{ db_ac_pass }}">
				</div>
				<button type="submit" class="btn btn-primary">登録</button>
			</form>
		</div>
	</body>
	<script>
		//BootstrapのPopperを使用するためのJS
		(function() {
			window.addEventListener("load", function () {
				$('[data-toggle="popover"]').popover();
			});
		})();
	</script>
</html>