{% load static %}
<html>
	<head>
		{% include 'base/head.html' %}
	</head>
	<body>
		{% include 'base/headder_navbar.html' %}
		<div class="between-headder-footer">
			<form method="post" action="">
				{% csrf_token %}
				<!-- LINEトークン -->
				<p>
					{% include "base/popover_v1.html" with title="LINEトークン" description="LINEへの通知に使用するLINEトークンを登録して下さい。<br>登録が正常に行われると下部に表示されます。<br>" only %}
					<input type="text" name="line_token" size="60" maxlength="60" placeholder="">
				</p>
				<!-- メールアドレス -->
				<p>
					{% include "base/popover_v1.html" with title="メールアドレス" description="送信先のメールアドレスを登録して下さい。<br>登録が正常に行われると下部に表示されます。<br>" only %}
					<input type="text" name="to_email" size="60" maxlength="60" placeholder="">
				</p>
				<p>
					<input type="submit" value="登録">
				</p>
				{% for item in exists_db %}
					<p>
						<span>登録済みのLINEトークン：{{ item.md_line_token }}</span>
					</p>
					<p>
						<span>登録済みのメールアドレス：{{ item.md_to_email }}</span>
					</p>
				{% endfor %}
			</form>
		</div>
	</body>
	<script>
		//BootstrapのPopperを使用するためのJS
		(function() {
			window.addEventListener("load", function () {
				$('[data-toggle="popover"]').popover();
			});
		})();
	</script>
</html>