{% load static %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet">

<footer class="footer">
	<div class="container">
		<div class="row">
			<!-- ヘッダー以外のリンク -->
			<div class="col-xl">
				<ul class="list-inline">
					<li class="list-inline-item"><a href="javascript:void(0)">更新履歴</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">サイトマップ</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">プライバシーポリシー</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">免責事項</a></li>
				</ul>
			</div>


			<!-- 寄付先 -->
			<div class="col-xl">
				<p class="support-parts-desc">
					サンプル<br>サンプル
				</p>
			</div>

		</div>
		<div class="border-hr"></div>
		<div class="text-center">
			<a style="color: #fff;">Copyright © サイト名 {% now "Y" %}</a>
		</div>
	</div>
</footer>