{% load static %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet">

<footer class="footer">
	<div class="container">
		<div class="row">

			<!-- ヘッダー以外のリンク -->
			<div class="col-xl">
				<ul class="list-inline">
					<li class="list-inline-item"><a href="javascript:void(0)">サンプルリンク</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">サンプルリンク</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">サンプルリンク</a></li>
				</ul>
			</div>

			<!-- テキスト表示 -->
			<div class="col-xl">
				<p class="support-parts-desc">
					サンプルテキスト<br>サンプルテキスト<br>サンプルテキスト
				</p>
			</div>

		</div>

		<!-- コピーライト -->
		<div class="border-hr"></div>
		<div class="text-center">
			<a style="color: #fff;">Copyright © サイト名 {% now "Y" %}</a>
		</div>

	</div>
</footer>