<nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color:#000000;">
	<a class="navbar-brand" href="{% url 'app_urls:input' %}">Twitchアーカイブ取得ツール</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
	<ul class="navbar-nav">

		<!-- active disabled
		<li class="nav-item">
		<a class="nav-link active" href="{% url 'app_urls:userdata' %}">ユーザデータ登録</a>
		</li>
		<li class="nav-item">
		<a class="nav-link disabled" href="{% url 'app_urls:userdata' %}">ユーザデータ登録</a>
		</li>
		-->

		<!--
		<li class="nav-item">
		<a class="nav-link active" href="{% url 'app_urls:input' %}">予約枠登録</a>
		</li>

		<li class="nav-item">
		<a class="nav-link disabled" href="{% url 'app_urls:userdata' %}">ユーザデータ登録</a>
		</li>
		-->

		<li class="nav-item">
		<a class="nav-link active" href="{% url 'logout' %}">ログアウト</a>
		</li>

	</ul>
	</div>
</nav>