{% extends "base/base.html" %}
{% block content %}
{% load static %}
<html>
	<body>

    <form id="dl_csv_zip_form" action="{% url 'app_urls:dl_csv_zip_proc' %}" method="POST">
			{% csrf_token %}

			<h4>ブログ記事「<a rel="noopener" href="https://blog.dev-neko.com/django-csv-zip" target="_blank">【Django】複数の辞書型リストをcsvに変換し、zipで圧縮してダウンロードする方法</a>」の動作確認ページです。</h4>

			<!-- textarea群 -->
			<div class="form-group">
				<h5>辞書型リスト 1つ目</h5>
				<textarea name="1つ目" class="form-control" rows="2">[{'ts': 4, 'chat': 'あああ'}, {'ts': 4, 'chat': 'いいい'}, {'ts': 5, 'chat': 'えええ'}]</textarea>
				<h5>辞書型リスト 2つ目</h5>
				<textarea name="2つ目" class="form-control" rows="2">[{'ts': 12, 'chat': 'aaa'}, {'ts': 22, 'chat': 'おおお'}, {'ts': 50, 'chat': 'bbb'}]</textarea>
				<h5>辞書型リスト 3つ目</h5>
				<textarea name="3つ目" class="form-control" rows="2">[{'ts': 0, 'chat': 'ccc'}, {'ts': 11, 'chat': 'ををを'}, {'ts': 19, 'chat': 'ddd'}]</textarea>
			</div>

			<h5>指定した辞書型リストをcsvに変換してzipでダウンロード</h5>

			<!-- チェックボックス群 -->
			<div class="form-group">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="checkbox_1" value="1つ目" name="checkbox">
					<label class="custom-control-label" for="checkbox_1">1つ目</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="checkbox_2" value="2つ目" name="checkbox">
					<label class="custom-control-label" for="checkbox_2">2つ目</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="checkbox_3" value="3つ目" name="checkbox">
					<label class="custom-control-label" for="checkbox_3">3つ目</label>
				</div>
			</div>

			<!-- ボタン群 -->
			<div class="d-flex align-items-center">
				<div>
					<!-- 保存ボタン -->
					<div class="btn-group">
						<button onFocus="this.blur()" type="submit" class="btn btn-primary" name="action" value='save'>保存</button>
					</div>
				</div>
			</div>

		</form>


	</body>
</html>
{% endblock %}