{% extends "base/base.html" %}
{% block content %}
{% load static %}
<html>
  <body>

    <h3>csvだ</h3>

    <form id="dl_csv_zip_form" action="{% url 'app_urls:dl_csv_zip_proc' %}" method="POST">
      {% csrf_token %}

      <!-- チェックボックス群 -->
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkbox_1" value="1つ目" name="checkbox">
          <label class="custom-control-label" for="checkbox_1">1つ目</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkbox_2" value="2つ目" name="checkbox">
          <label class="custom-control-label" for="checkbox_2">2つ目</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkbox_3" value="3つ目" name="checkbox">
          <label class="custom-control-label" for="checkbox_3">3つ目</label>
        </div>
      </div>

      <!-- ボタン群 -->
      <div class="d-flex align-items-center">
        <div>
          <!-- 保存ボタン -->
          <div class="btn-group">
            <button onFocus="this.blur()" type="submit" class="btn btn-success" name="action" value='save'>保存</button>
          </div>
        </div>
      </div>

    </form>

  </body>
</html>
{% endblock %}