{% extends "base/base.html" %}
{% block content %}
{% load static %}
<html>
	<body>





	<div class="card mb-3">
		<div class="row no-gutters bg-light position-relative">
			<div class="col-md-6 mb-md-0 p-md-4">
				<img class="card-img-top" width="50%" src="{% static 'img/img01.png' %}" data-holder-rendered="true">
			</div>
			<div class="col-md-6 position-static p-4 pl-md-0">
				<h5 class="mt-0">Djangoで複数の辞書型リストをcsvに変換し、zipで圧縮してダウンロードするサンプルページ</h5>
				<p></p>
				<a href="{% url 'app_urls:dl_csv_zip' %}" class="stretched-link">詳細を見る</a>
			</div>
		</div>
	</div>




	</body>
</html>
{% endblock %}