{% load static %}
<html>
	<head>
		{% include 'base/head.html' %}
	</head>
	<body>
		{% include 'base/headder_navbar.html' %}
		<div class="between-headder-footer">
			<h4>予約枠の登録</h4>
			<form id="ajax_form" action="{% url 'app_urls:ajax_proc' %}" method="POST">
				{% csrf_token %}
				<div class="form-row">
					<!-- 日付 -->
					<div class="col-auto">
						<label>日付<input type="date" id="r_day" class="form-control" value="{% now 'Y-m-d' %}"></label>
					</div>
					<!-- 時刻 -->
					<div class="col-auto">
						<label>時刻<select id="r_time" class="form-control">
							{% for item in TIME_DATA %}
								<option>{{ item }}</option>
							{% endfor %}
						</select></label>
					</div>
					<!-- 施設名 -->
					<div class="col-auto">
						<label>施設名<select id="r_shisetsu" class="form-control">
							{% for item in SHISETSU_DATA %}
								<option>{{ item }}</option>
							{% endfor %}
						</select></label>
					</div>
					<!-- 室場名 -->
					<div class="col-auto">
						<label>室場名<select id="r_shitsujou" class="form-control">
							{% for item in SHITUJOU_DATA %}
								<option>{{ item }}</option>
							{% endfor %}
						</select></label>
					</div>
					<!-- コート番号 -->
					<div class="col-auto">
						<label>コート番号<select id="r_corder" class="form-control">
							{% for item in CORDER_DATA %}
								<option>{{ item|add:'1' }}</option>
							{% endfor %}
						</select></label>
					</div>
				</div>
				<!-- ボタン群 -->
				<span class="d-flex align-items-center">
					<div>
						<!-- 登録ボタン -->
						<button onFocus="this.blur()" type="button" class="btn btn-primary" id="save_btn_01">登録 01</button>
						<!-- 削除ボタン -->
						<button onFocus="this.blur()" type="button" class="btn btn-danger" id="delete_btn_01">削除 01</button>
						<!-- 登録ボタン -->
						<button onFocus="this.blur()" type="button" class="btn btn-primary" id="save_btn_02">登録 02</button>
						<!-- 削除ボタン -->
						<button onFocus="this.blur()" type="button" class="btn btn-danger" id="delete_btn_02">削除 02</button>
						<!-- ajax用 -->
						<input type="hidden" id="db_action">
					</div>
					{% include "base/popover_v1.html" with title="" description="<br>" only %}
				</span>
			</form>
			<!-- 予約内容の表示 -->
			<div class="result_01">
				{% if json_resp.resp_01 %}
					<div class="border border-secondary">
						<p>日付：{{ json_resp.resp_01.md_r_day }}</p>
						<p>時間：{{ json_resp.resp_01.md_r_time }}</p>
						<p>施設名：{{ json_resp.resp_01.md_r_shisetsu }}</p>
						<p>室場名：{{ json_resp.resp_01.md_r_shitsujou }}</p>
						<p>コート番号：{{ json_resp.resp_01.md_r_corder }}</p>
					</div>
				{% endif %}
				</div>
			<div class="result_02">
				{% if json_resp.resp_02 %}
					<p>日付：{{ json_resp.resp_02.md_r_day }}</p>
					<p>時間：{{ json_resp.resp_02.md_r_time }}</p>
					<p>施設名：{{ json_resp.resp_02.md_r_shisetsu }}</p>
					<p>室場名：{{ json_resp.resp_02.md_r_shitsujou }}</p>
					<p>コート番号：{{ json_resp.resp_02.md_r_corder }}</p>
				{% endif %}
			</div>



			<table class="table">
				<tr>
					<th>現在の予約内容</th><th>ID A</th><th>ID B</th>
				</tr>
				<tr>
					<th>日付</th>
					<td>{{ json_resp.resp_01.md_r_day }}</td>
					<td>{{ json_resp.resp_02.md_r_day }}</td>
				</tr>
				<tr>
					<th>時間</th>
					<td>{{ json_resp.resp_01.md_r_time }}</td>
					<td>{{ json_resp.resp_02.md_r_time }}</td>
				</tr>
				<tr>
					<th>施設名</th>
					<td>{{ json_resp.resp_01.md_r_shisetsu }}</td>
					<td>{{ json_resp.resp_02.md_r_shisetsu }}</td>
				</tr>
				<tr>
					<th>室場名</th>
					<td>{{ json_resp.resp_01.md_r_shitsujou }}</td>
					<td>{{ json_resp.resp_02.md_r_shitsujou }}</td>
				</tr>
				<tr>
					<th>コート番号</th>
					<td>{{ json_resp.resp_01.md_r_corder }}</td>
					<td>{{ json_resp.resp_02.md_r_corder }}</td>
				</tr>
			</table>



		</div>
		<!-- Toast -->
		<!-- https://qiita.com/hibara/items/3cbe9f1206183081cf7e -->
		<div style="position: absolute; bottom: 10; right: 10;">
			<div class="toast" id="toast_save">
				<div class="toast-header">
					<strong class="mr-auto">予約内容更新通知</strong>
					<small></small>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="toast-body">
					<p>予約内容を登録しました。</p>
				</div>
			</div>
			<div class="toast" id="toast_delete">
				<div class="toast-header">
					<strong class="mr-auto">予約内容更新通知</strong>
					<small></small>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="toast-body">
					<p>予約内容を削除しました。</p>
				</div>
			</div>
		</div>
		<!-- 外部jsファイル ajax -->
		<script type="text/javascript" src="{% static 'js/ajax_test.js' %}"></script>
	</body>
	<script>
		//BootstrapのPopperを使用するためのJS
		(function() {
			window.addEventListener("load", function () {
				$('[data-toggle="popover"]').popover();
			});
		})();
	</script>
</html>