{% load static %}
<html>
	<head>
		{% include 'base/head.html' %}
	</head>
	<body>
		{% include 'base/headder_navbar.html' %}
		<div class="between-headder-footer">

			<form id="ajax_form" action="{% url 'app_urls:ajax_proc_aaa' %}" method="POST">
				{% csrf_token %}

				<!-- videoids の入力 -->
				<div class="form-group">
					{% include "base/popover_headline_v1.html" with title="<h5>videoid入力欄</h5>" description="アーカイブのvideoidを1つのみ入力してください。<br>登録ボタンをクリックすると取得を開始します。<br>取得中は登録ボタンはクリックできません。<br>取得をキャンセルする場合はページをリロードしてください。<br>取得中は下の欄に進捗が表示されます。<br>同じvideoidを登録した場合は上書きされます。" only %}
					<textarea id="videoids" class="form-control" rows="2"></textarea>
				</div>

				<!-- 取得ボタン -->
				<div class="d-flex align-items-center">
					<div>
						<div class="btn-group">
							<button onFocus="this.blur()" type="submit" class="btn btn-primary" id="run_btn">登録</button>
						</div>
					</div>
				</div>

			</form>

			<!-- videoidと進捗の表示 -->
			<table class="table table-bordered" id="result_table">
				<thead>
					<tr>
						<th style="width:50%">videoid</th>
						<th style="width:50%">進捗</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><br></td>
						<td><br></td>
					</tr>
				</tbody>
			</table>
			<!-- トークン -->
			<input type="hidden" id="next_token" class="form-control" value="">

			{% include "base/popover_headline_v1.html" with title="<h5>csvファイルの保存・削除・プレビュー</h5>" description="チェックボックスを入れたvideoidのcsvファイルを保存・削除・プレビューします。<br>複数同時に操作可能です。<br>取得中にも操作可能です。" only %}
			<form id="ajax_dd_form" action="{% url 'app_urls:ajax_proc_dd' %}" method="POST">
				{% csrf_token %}

				<!-- チェックボックス群 -->
				<!-- videoidごとにチェックボックスを表示 -->
				<div class="form-group">
				{% for item in finish_dist %}
					<div id="{{ item.videoid }}_div">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="{{ item.videoid }}" value="{{ item.videoid }}" name="videoids">
							<label class="custom-control-label" for="{{ item.videoid }}">{{ item.videoid }} {{item.title}}</label>
						</div>
					</div>
				{% endfor %}
				</div>

				<!-- 保存・削除ボタン -->
				<div class="d-flex align-items-center">
					<div>
						<!-- 保存ボタン -->
						<div class="btn-group">
							<button onFocus="this.blur()" type="submit" class="btn btn-success" name="db_action" id="db_action_save" value='save'>保存</button>
						</div>
						<!-- 削除ボタン -->
						<div class="btn-group">
							<button onFocus="this.blur()" type="submit" class="btn btn-danger" name="db_action" id="db_action_delete" value='delete'>削除</button>
						</div>
						<!-- プレビューボタン -->
						<div class="btn-group">
							<!--
							別のタブで開くために formtarget="_blank" を付与
							https://feeld-uni.com/entry/2021/01/24/152038
							-->
							<button onFocus="this.blur()" type="submit" class="btn btn-warning" name="db_action" id="db_action_preview" value='preview' formtarget="_blank">プレビュー</button>
						</div>
					</div>
				</div>

				<!-- ajax用 -->
				<input type="hidden" id="db_action">

			</form>













		</div>

		<!-- 外部jsファイル ajax -->
		<script type="text/javascript" src="{% static 'js/ajax_test.js' %}"></script>
	</body>
	<script>
		//BootstrapのPopperを使用するためのJS
		(function() {
			window.addEventListener("load", function () {
				$('[data-toggle="popover"]').popover();
			});
		})();
	</script>
</html>