{% load static %}

<html>
	 <head>
		<title>ヤフオク検索ツール</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
		<!-- cb-materialbtn.css ブトスラのボタンの色を変えるライブラリ -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/maechabin/bootstrap-material-button-color/master/dist/cb-materialbtn.0.5.5.min.css">
		<!-- fontawasome -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<style type="text/css">
			.textarea-width100 {
				width: 100%;
			}
			.textarea-width20 {
				width: 20%;
			}
		</style>
	</head>
	<body>

		<div style="padding-left:5px;margin-left:5px;padding-right:5px;margin-right:5px;">
			<h5>ヤフオク検索ツール</h5>
			<form method="post" action="output" target="_blank">
				{% csrf_token %}
				<!-- ヤフオクで絞り込んだURL -->
				<p>
					<span class="d-flex align-items-center">
						<label>
							{% if dt_read_db_data.read_db_data.md_radio_url == "search" or dt_read_db_data.read_db_data.md_radio_url == None %}
								<input type="radio" name="radio_url" value="search" checked> ヤフオクで絞り込んだURL
							{% else %}
								<input type="radio" name="radio_url" value="search"> ヤフオクで絞り込んだURL
							{% endif %}
						</label>
						<button type="button" class="btn btn-dark rounded-circle p-0"
								style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
								data-trigger="focus"
								data-placement="right"
								data-toggle="popover"
								data-html="true"
								data-content="URLには解析を行うために必要となる、表示件数(&n=)、ページ番号(&b=)、表示方法は「タイトルと画像」(&mode=2)、が含まれるようにお願い致します。<br>終了する曜日と時間帯についてはWebアプリにて指定可能なためURLには含めないようにお願い致します。">？
						</button>
					</span>
					<!--
					<textarea name="src_raw_url" class="textarea-width100" rows="2">https://auctions.yahoo.co.jp/search/search?p=Python&va=Python&b=1&n=20&mode=2</textarea>
					-->
					<textarea name="src_raw_url" class="textarea-width100" rows="2">{{ dt_read_db_data.read_db_data.md_src_url }}</textarea>
				</p>
				<!-- ストアURL -->
				<p>
					<span class="d-flex align-items-center">
						<label>
							{% if dt_read_db_data.read_db_data.md_radio_url == "seller" %}
								<input type="radio" name="radio_url" value="seller" checked> ストアURL
							{% else %}
								<input type="radio" name="radio_url" value="seller"> ストアURL
							{% endif %}
						</label>
						<button type="button" class="btn btn-dark rounded-circle p-0"
								style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
								data-trigger="focus"
								data-placement="right"
								data-toggle="popover"
								data-html="true"
								data-content="URLには解析を行うために必要となる、表示件数(&n=)、ページ番号(&b=)、表示方法は「タイトルと画像」(&mode=2)、が含まれるようにお願い致します。<br>終了する曜日と時間帯についてはWebアプリにて指定可能なためURLには含めないようにお願い致します。">？
						</button>
					</span>
					<!--
					<textarea name="src_seller_url" class="textarea-width100" rows="2">https://auctions.yahoo.co.jp/seller/sunsmile_happiness999?n=20&sid=sunsmile_happiness999&b=1&mode=2</textarea>
					-->
					<textarea name="src_seller_url" class="textarea-width100" rows="2">{{ dt_read_db_data.read_db_data.md_seller_url }}</textarea>
				</p>
				</p>
				<!-- 終了する曜日・時間帯を指定 -->
				<p>
					<span>終了する曜日・時間帯を指定</span><br>
					{% if dt_read_db_data.read_db_data.md_radio_e_wday_e_time == "OFF" or dt_read_db_data.read_db_data.md_radio_e_wday_e_time == None %}
						<label><input type="radio" name="radio_e_wday_e_time" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_e_wday_e_time" value="ON"> ON</label><br>
					{% else %}
						<label><input type="radio" name="radio_e_wday_e_time" value="OFF"> OFF</label>
						<label><input type="radio" name="radio_e_wday_e_time" value="ON" checked> ON</label><br>
					{% endif %}
					<select name="select_e_wday">
						{% for key,value in dt_wday_data.wday_data.items %}
							{% if dt_read_db_data.read_db_data.md_e_wday == key %}
								<option value={{ key }} selected>{{ value }}</option>
							{% else %}
								<option value={{ key }}>{{ value }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<select name="select_e_time">
						{% for key,value in dt_time_data.time_data.items %}
							{% if dt_read_db_data.read_db_data.md_e_time == key %}
								<option value={{ key }} selected>{{ value }}</option>
							{% else %}
								<option value={{ key }}>{{ value }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</p>
				<!-- 解析するページ番号 -->
				<p>
					<span class="d-flex align-items-center">
						<span>解析するページ</span>
						<button type="button" class="btn btn-dark rounded-circle p-0"
										style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
										data-trigger="focus"
										data-placement="right"
										data-toggle="popover"
										data-html="true"
										data-content="ヤフオクで絞り込んだ結果のページからWebアプリで解析するページを指定します。<br>">？
						</button>
					</span>
					<select name="analysis_pages">
						{% for key,value in dt_analysis_pages_data.analysis_pages_data.items %}
							{% if dt_read_db_data.read_db_data.md_analysis_pages == key %}
								<option value={{ key }} selected>{{ value }}</option>
							{% else %}
								<option value={{ key }}>{{ value }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</p>
				<!-- 表示件数 -->
				<!--<p>
					<label><input type="radio" name="radio_dispn" value="20" checked="checked"> 20件ごと</label>
					<label><input type="radio" name="radio_dispn" value="50"> 50件ごと</label>
					<label><input type="radio" name="radio_dispn" value="100"> 100件ごと</label>
				</p>-->
				<!-- 自動延長無しフィルタ -->
				<p>
					<span class="d-flex align-items-center">
						<span>自動延長無しフィルタ</span>
						<button type="button" class="btn btn-dark rounded-circle p-0"
										style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
										data-trigger="focus"
										data-placement="right"
										data-toggle="popover"
										data-html="true"
										data-content="ONの状態では、自動延長が設定できない定額のオークションも非表示になるためご注意ください。<br>">？
						</button>
					</span>
					{% if dt_read_db_data.read_db_data.md_auto_ext == "ON" %}
						<label><input type="radio" name="radio_auto_ext" value="OFF"> OFF</label>
						<label><input type="radio" name="radio_auto_ext" value="ON" checked> ON</label>
					{% else %}
						<label><input type="radio" name="radio_auto_ext" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_auto_ext" value="ON"> ON</label>
					{% endif %}
				</p>
				<!-- 評価レートフィルタ -->
				<p>
					<span class="d-flex align-items-center">
						<span>評価レートフィルタ</span>
						<button type="button" class="btn btn-dark rounded-circle p-0"
										style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
										data-trigger="focus"
										data-placement="right"
										data-toggle="popover"
										data-html="true"
										data-content="OFFにした状態であれば、テキストボックスに数値が入力された状態でも絞り込みは行われません。<br>数値以外は入力不可で上下キーで0.1毎に増減可能です。<br>ストアURLで解析を行う場合は無効となります。">？
						</button>
					</span>
					{% if dt_read_db_data.read_db_data.md_rate_radio == None %}
						<label><input type="radio" name="radio_rate" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_rate" value="ON"> ON</label><br>
						<input type="number" name="rate" value="96" min="0" max="100" step="0.1">
					{% elif dt_read_db_data.read_db_data.md_rate_radio == "OFF" %}
						<label><input type="radio" name="radio_rate" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_rate" value="ON"> ON</label><br>
						<input type="number" name="rate" value={{ dt_read_db_data.read_db_data.md_rate }} min="0" max="100" step="0.1">
					{% else %}
						<label><input type="radio" name="radio_rate" value="OFF"> OFF</label>
						<label><input type="radio" name="radio_rate" value="ON" checked> ON</label><br>
						<input type="number" name="rate" value={{ dt_read_db_data.read_db_data.md_rate }} min="0" max="100" step="0.1">
					{% endif %}
					<span> %以下は表示しない</span>
				</p>
				<!-- 出品者フィルタ -->
				<p>
					<span class="d-flex align-items-center">
						<span>出品者IDでの除外フィルタ</span>
						<button type="button" class="btn btn-dark rounded-circle p-0"
										style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
										data-trigger="focus"
										data-placement="right"
										data-toggle="popover"
										data-html="true"
										data-content="出品者IDを複数指定する場合はカンマ(,)区切りで入力してください。<br>OFFにした状態であれば、テキストボックスに入力された状態でも絞り込みは行われません。<br>ストアURLで解析を行う場合は無効となります。">？
						</button>
					</span>
					{% if dt_read_db_data.read_db_data.md_exclude_id_radio == None %}
						<label><input type="radio" name="radio_exclude_id" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_exclude_id" value="ON"> ON</label><br>
						<textarea name="exclude_id" class="textarea-width100" rows="2"></textarea>
					{% elif dt_read_db_data.read_db_data.md_exclude_id_radio == "OFF" %}
						<label><input type="radio" name="radio_exclude_id" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_exclude_id" value="ON"> ON</label><br>
						<textarea name="exclude_id" class="textarea-width100" rows="2">{{ dt_read_db_data.read_db_data.md_exclude_id }}</textarea>
					{% else %}
						<label><input type="radio" name="radio_exclude_id" value="OFF"> OFF</label>
						<label><input type="radio" name="radio_exclude_id" value="ON" checked> ON</label><br>
						<textarea name="exclude_id" class="textarea-width100" rows="2">{{ dt_read_db_data.read_db_data.md_exclude_id }}</textarea>
					{% endif %}
				</p>
				<!-- タイトルと商品説明で部分一致除外フィルタ -->
				<p>
					<span class="d-flex align-items-center">
						<span>タイトルと商品説明文で部分一致除外フィルタ</span>
						<button type="button" class="btn btn-dark rounded-circle p-0"
										style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
										data-trigger="focus"
										data-placement="right"
										data-toggle="popover"
										data-html="true"
										data-content="除外したいキーワードを複数指定する場合はスペース区切りで入力してください。<br>OFFにした状態であれば、テキストボックスに入力された状態でも絞り込みは行われません。">？
						</button>
					</span>
					{% if dt_read_db_data.read_db_data.md_exclude_titledesc_radio == None %}
						<label><input type="radio" name="radio_exclude_titledesc" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_exclude_titledesc" value="ON"> ON</label><br>
						<textarea name="exclude_titledesc" class="textarea-width100" rows="2"></textarea>
					{% elif dt_read_db_data.read_db_data.md_exclude_titledesc_radio == "OFF" %}
						<label><input type="radio" name="radio_exclude_titledesc" value="OFF" checked> OFF</label>
						<label><input type="radio" name="radio_exclude_titledesc" value="ON"> ON</label><br>
						<textarea name="exclude_titledesc" class="textarea-width100" rows="2">{{ dt_read_db_data.read_db_data.md_exclude_titledesc }}</textarea>
					{% else %}
						<label><input type="radio" name="radio_exclude_titledesc" value="OFF"> OFF</label>
						<label><input type="radio" name="radio_exclude_titledesc" value="ON" checked> ON</label><br>
						<textarea name="exclude_titledesc" class="textarea-width100" rows="2">{{ dt_read_db_data.read_db_data.md_exclude_titledesc }}</textarea>
					{% endif %}
				</p>
				<!-- 検索ボタン -->
				<p><input type="submit" value="検索" style="width:100%"></p>
				<!-- DB連携 -->
				<span class="d-flex align-items-center">
						<span>検索条件保存・読込・削除</span>
						<button type="button" class="btn btn-dark rounded-circle p-0"
										style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
										data-trigger="focus"
										data-placement="right"
										data-toggle="popover"
										data-html="true"
										data-content="テキストボックスに検索条件名を入力して「保存」ボタンをクリックすると検索条件に名前を付けて保存が可能です。<br>保存した検索条件名をプルダウンで選択して「読込」「削除」が可能です。<br>「全て削除」は保存した検索条件を全て削除します。">？
						</button>
					</span>
				<!-- 保存 -->
				<p>
					<!--<input type="text" name="query_name" size="10" class="textarea-width20">-->
					<textarea name="query_name" class="textarea-width20" rows="1" style="vertical-align:top"></textarea>
					<button type="submit" name="db_action_btn" value='save' onclick="sametab('')">保存</button>
				</p>
				<!-- 読み込み 削除 すべて削除 -->
				<!--
				<p>
					<select name="select_db_data">
						{% for item in dt_exists_db_data.exists_db_data %}
							<option value={{ item.id }}>{{ item.md_query_name }}</option>
						{% endfor %}
					</select>
					<button type="submit" name="db_action_btn" value='read' onclick="sametab('')">読込</button>
					<button type="submit" name="db_action_btn" value='delete' onclick="return sametab_conf('')">削除</button>
				</p>
				-->
			</form>
			<p>
				<button onclick="location.href='{% url 'logout' %}'">ログアウト</button>
			</p>


<!-- アコーディオン コピペ用
<div class="accordion" id="アコーディオンID">
	<div class="card">
		<div class="card-header" id="ヘッダーID">
			<button class="btn btn-link" type="button"
					data-toggle="collapse" data-target="#カードID"
					aria-expanded="true" aria-controls="カードID">
				商品説明
			</button>
		</div>
		<div class="collapse" id="カードID"
				aria-labelledby="ヘッダーID" data-parent="#アコーディオンID">
			<div class="card-body">
			ここに内容を入力
			</div>
		</div>
	</div>
</div>
-->


		</div>

		<!-- jQuery、Popper.js、Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
	<script>
		//BootstrapのPopperを使用するためのJS
		(function() {
			window.addEventListener("load", function () {
				$('[data-toggle="popover"]').popover();
			});
		})();
		// submitボタンをクリックして同じタブで実行させる
		function sametab(u){
			var f = document.querySelector("form");
			var a = f.setAttribute("action", u);
			var a = f.setAttribute("target", "");
			document.querySelector("form").submit();
		}
		// submitボタンをクリックして同じタブで実行させる
		// 確認画面付き
		function sametab_conf(u){
			if(window.confirm('削除しますか？')){
				var f = document.querySelector("form");
				var a = f.setAttribute("action", u);
				var a = f.setAttribute("target", "");
				document.querySelector("form").submit();
			}
			else{
				return false;
			}
		}
		// submitボタンをクリックして新しいタブで実行させる
		function newtab(u){
			var f = document.querySelector("form");
			var a = f.setAttribute("action", u);
			var a = f.setAttribute("target", "_blank");
			document.querySelector("form").submit();
		}

		/*
		// ラジオボタンとテキストボックスを連動 評価レート
		$(function(){
			 $( 'input[name="radio_rate"]:radio' ).change( function() {
					var radioval = $(this).val();
					if(radioval == "ON"){
						 $('#inputrate').removeAttr('disabled');
					}else{
						 $('#inputrate').attr('disabled','disabled');
					}
			 });
		});
		// ラジオボタンとテキストボックスを連動 出品者ID
		$(function(){
			 $( 'input[name="exclude_id"]:radio' ).change( function() {
					var radioval = $(this).val();
					if(radioval == "ON"){
						 $('#input_exclude_id').removeAttr('disabled');
					}else{
						 $('#input_exclude_id').attr('disabled','disabled');
					}
			 });
		});
		// ラジオボタンとテキストボックスを連動 タイトルと商品説明で部分一致除外
		$(function(){
			 $( 'input[name="exclude_titledesc"]:radio' ).change( function() {
					var radioval = $(this).val();
					if(radioval == "ON"){
						 $('#input_exclude_titledesc').removeAttr('disabled');
					}else{
						 $('#input_exclude_titledesc').attr('disabled','disabled');
					}
			 });
		});
		*/

	</script>
</html>