.between-headder-footer {
	padding-top:-15px;
	margin-top:-15px;
	padding-left:5px;
	margin-left:5px;
	padding-right:5px;
	margin-right:5px;
}
.textarea-width100 {
	width:100%;
}
.textarea-width20 {
	width:20%;
}